/* // .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

 */

.App {
  .pl0 {
    padding-left: 0 !important;
  }

  .pr0 {
    padding-right: 0 !important;
  }

  .mb0 {
    margin-bottom: 0 !important;
  }

  .input-line {
    height: 30px !important;
    box-sizing: border-box;
  }

  .icon-button {
    background: none;
    border: none;
    color: inherit;
  }

  .icon-button:focus {
    outline: none;
  }

  .text-over {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;
  }

  .pointer {
    cursor: pointer;
  }

  .left-panel {
    height: 100vh;
    position: relative;
    background-color: #f9f9f9;
    .button-grounp {
      width: 100%;
      position: absolute;
      bottom: 0;
      .no-border {
        border-radius: 0;
      }
    }
  }

  .start-page {
    font-size: 30px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    color: #ccc;
  }
}
